PATREON_AUTH_ENABLED=true
PATREON_CLIENT_ID=XZPlyNOvYe8JcBHN9nvBPrWdkdnzqUOIrrvy5eOP-tRsRy0Ha295PwjFwazh9YHa
PATREON_CAMPAIGN_ID=11410294
PATREON_REDIRECT_URI=http://localhost:4445/api/patreon/callback
PATREON_APP_URL=http://localhost:4445
PATREON_ALLOWED_TIER_IDS=
PATREON_SESSION_DAYS=30
PATREON_STATUS_CACHE_MINUTES=10
PATREON_STALE_GRACE_HOURS=6
PATREON_REFRESH_COOLDOWN_SECONDS=30
PATREON_COOKIE_SECURE=false
PATREON_ALLOW_STATE_COOKIE_FALLBACK=false
