.react-calendar {
  border: none;
  border-radius: 12px;
  background-color: white;
  font-family: inherit;
  width: 100%;
  box-shadow: 0px 0.25px 0.25px 0.5px black !important;
  border: none !important;
  box-shadow: none !important;

  /* max-width: 350px; */
}

.react-calendar__tile {
  padding: 12px 0;
  border-radius: 0px;

  transition: 0.12s all linear;
  background-color: white !important;
  color: black;
}

.react-calendar__tile--active {
  background-color: #82ebac !important;
  color: darkgreen;
  font-weight: bolder;
  text-decoration: underline;

  border-radius: 8px;
}

.react-calendar__tile--now {
  /* background-color: #e2e8f0;  */
  /* light gray for today */
}

.react-calendar__tile--disabled {
  color: #a0aec0;
  background-color: white;
}

.react-calendar__navigation {
  margin-bottom: 8px;
}

.react-calendar__navigation button {
  font-weight: bold;
  color: #2d3748;
}

.react-calendar__navigation__label {
  pointer-events: none;
  cursor: default;
}

.react-calendar__navigation__label:hover {
  background-color: transparent;
}

.react-calendar__tile:hover {
  background-color: transparent;
  cursor: default;
}

.gradient-icon {
  background: linear-gradient(to right, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
